/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/11/2019, 09:13:22 PM
    Author     : ferna
*/
body {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

body, a {
  font-family: sans-serif
}
